<%- include("../../views/partials/admin/header") %>

<style>
    .delete-banner-btn i:hover{
        color: rgb(188, 12, 12)!important;
    }
</style>
    <div class="content-header row">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="content-title card-title">Banners</h2>
        </div>
    </div>
    <div class="right mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Active</th>
                    <th scope="col">Delete</th>

                </tr>
            </thead>
            <tbody>

                <% if (locals.data) { %>

                    <% for (let i=0; i < data.length; i++) { %>
                        <tr>
                            <td>
                                <img src="/uploads/re-image/<%= data[i].image %>" style="height: 2rem; width: 3rem;"
                                    class="img-xs" alt="Item">
                            </td>

                            <td>
                                <%= data[i].title %>
                            </td>

                            <td>
                                <%= data[i].description %>
                            </td>

                            <td>
                                <% if (data[i].startDate < Date.now() && data[i].endDate> Date.now()) { %>
                                    <p class="badge rounded-pill alert-success">Active</p>
                                    <% } else { %>
                                        <p class="badge rounded-pill alert-danger">Not Active</p>
                                        <% } %>
                            </td>

                            <td class="action" data-title="Remove">

                                <button class="delete-banner-btn btn  " data-id="<%= data[i]._id %>" data-bs-toggle="modal" data-bs-target="#deleteBannerModal">
                                    <i class="icon material-icons md-delete"></i>
                                </button>
                            </td>



                        </tr>
                        <% } %>

                            <% } else { %>

                                <tr>
                                    <td colspan="5" class="text-center">No Banner Found</td>
                                </tr>

                                <% } %>

            </tbody>
        </table>
    </div>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="/admin/addBanner">
                    <button class="btn btn-primary btn-sm" type="submit">Add Banner</button>
                </a>
            </div>

        </div>
    </div>


    <!-- delete banner alert -->

    <div class="modal fade" id="deleteBannerModal" tabindex="-1" aria-labelledby="deleteBannerModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteBannerModalLabel">Confirm Deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this banner?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="#" id="confirmDeleteBannerButton" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    
    

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const deleteBannerButtons = document.querySelectorAll('.delete-banner-btn');
            const confirmDeleteBannerButton = document.getElementById('confirmDeleteBannerButton');
    
            deleteBannerButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const bannerId = button.getAttribute('data-id');
                    console.log('Selected Banner ID:', bannerId);
                    confirmDeleteBannerButton.href = `/admin/deleteBanner?id=${bannerId}`;
                });
            });
        });
    </script>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <%- include("../../views/partials/admin/footer") %>